body {
  background-color:rgb(232, 245, 255);
  margin: 3em;
}
p { color: rgb(41, 182, 76); }
.bio { color:rgb(0, 37, 92) }



.smallcaps {
  font-variant-caps: all-small-caps;
}
body { font-family: Courier, Helvetica, monospace; }

.container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 550px 300px 300px;
  border: 2px;
  margin: 0em;
  padding: 0.5em;
}

#boxcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em;
  border: 2px;
  width: 500px;
}

#box {
  width: 125px;
  height: 125px;
  text-align: center;
  border: 3px solid rgb(0, 37, 92);
  margin: 0.1em;
  order: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
