body {
  background-color:rgb(232, 245, 255);
  margin: 3em;
}
p { color: rgb(41, 182, 76); }
.bio { color:rgb(0, 37, 92) }
.narrow { width: 30% }
.fancyspacing {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
}

.smallcaps {
  font-variant-caps: all-small-caps;
}
body { font-family: Courier, Helvetica, monospace; }

.container {
  display: flex;
  flex-wrap: wrap;
}

#boxcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

#box1 {
  background-color: rgb(163, 226, 255);
  width: 125px;
  height: 125px;
  text-align: center;
  border: 3px solid rgb(0, 37, 92);
  margin: 0.1em;
}
#box2 {
  background-color: rgb(149, 180, 248);
  width: 125px;
  height: 125px;
  text-align: center;
  border: 3px solid rgb(0, 37, 92);
  margin: 0.1em;
}
#box3 {
  background-color: rgb(154, 164, 255);
  width: 125px;
  height: 125px;
  text-align: center;
  border: 3px solid rgb(0, 37, 92);
  margin: 0.1em;
}